@model Web.Models.ChangeProfilePictureModel
@{
    ViewBag.Title = "SetProfilePicture";
}


<h2>Byt bild</h2>


@using (Html.BeginForm("SetProfilePicture", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h2>Välj ny profilbild:</h2>
    <div class="form-group">
        @Html.LabelFor(m => m.NewProfilePicture, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            <input type="file" name="NewProfilePicture" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



