@using Web.Models
@model ApplicationUser
@{
    ViewBag.Title = "MyPage";
}

<div class="MyPage">
    <div class="UserNamePic">
        <h1>@Html.Raw((ViewData["nickName"]))</h1>
        <img src="@Url.Action("ProfilePicture", "Home")" style="width:300px;height:300px; background: #FFFFFF;
    margin: auto;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
    </div>
    <div class="UserInformation">
        <ol class="MyPageList">
            <li class="MyPageList">Namn: @Html.Raw((ViewData["fullName"])) </li>
            <li>@Html.ActionLink("Mina Poster", "Index", "Posts", routeValues: new { Id = Model.Id}, htmlAttributes: null)</li>
            <br />
        <li class="MyPageList">
        
        @if(Model.Interests.Count == 0)
        {
            <p>@Model.Nickname har inte några intressen :(</p>
        }
        else
        {
            <p>Intressen: @foreach (var item in Model.Interests)
            {
                <li>@item.Title</li>
            }
            </p>
        }
            </li>
            </ol>
    </div>
   

</div>



