@model Web.Models.ApplicationUser

@{
    ViewBag.Title = "Page";
    
}


<div class="MyPage">
    <div class="UserNamePic">
        <h1>@Model.Nickname</h1>
        <img src="@Url.Action("UserPicture", "Home", new { id = Model.Id })" style="width:300px;height:300px; background: #FFFFFF;
    margin: auto;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
    </div>
    <div class="UserInformation">
        <ol>
            <li>Namn: @String.Concat(Model.Firstname," ",Model.Lastname) </li>
            <br />
            <li>
                @if (Model.Interests.Count == 0)
                {
                    <p>@Model.Nickname har inte några intressen :(</p>
                }
                else
                {
                    <p>
                        Intressen: @foreach (var item in Model.Interests)
                        {
                            <ol>
                                <li>@item.Title</li>
                            </ol>
                        }
                    </p>
                }
            </li>
            <br />
            <li>

              
                @if (ViewBag.Message == "AlreadyFriends")
                {
                    <p>Ni är redan vänner! :)</p>
                }
                else if (ViewBag.Message == "NotFriends")
                {
                    @Html.ActionLink("Skicka vänförfrågan", "SendRequest", "FriendRequest", new { id = Model.Id }, null)
                }
                else if (ViewBag.Message == "SentRequest")
                {
                    <p>Vänförfrågan skickad! :)</p>
                }
                else if(ViewBag.Message == "AlreadySentRequest")
                {
                    <p>Du har redan skickat en förfrågan!</p>
                }

            </li>
        </ol>
    </div>


</div>

