@model Web.Models.ApplicationUser

@{
    ViewBag.Title = "Skapa";
    var sender = @ViewData["id"];
    var reciever = @Model.Id;
    var recieverNickname = @ViewData["nickName"];

}



<h2>Skriv Inlägg</h2>



    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
       <textarea id="TextMessage"></textarea>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button onclick="AddPost()">Skicka</button>
            </div>
        </div>
    </div>



<script>
        //Skickar JSON-data till API-Controllern för att lägga till en post.
        function AddPost() {
    var TextContent = $('#TextMessage').val();
    var Sender = '@sender'
    var Reciever = '@reciever'
    var SenderNickname = '@recieverNickname'
    var Post = { FromID: Sender, ToID: Reciever, Message: TextContent, FromUserNickname: SenderNickname };
    if (TextContent == null || TextContent == "") {
        alert("Du har inte skrivit något!")
    } else {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("NewPost", "WebApi", new { httproute = "" })',
            data: JSON.stringify(Post),
            contentType: 'application/json',
            datatype: 'json',
            success: function (data) {
                $('#TextMessage').val('');
                //Refreshar sidan efter lyckat inlägg.
                location.reload();
            }
        });
    }
};


</script>
<div>
    @Html.ActionLink("Tillbaka till listan", "Index", routeValues: new {id = Model.Id })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
