@model IEnumerable<Web.Models.ApplicationUser>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Major Dating</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="page-header">
        <h1 class="HomePage">Adelns Dating</h1>
        <h2 class="HomePage">Där framtidens barn planeras</h2>
    </div>
    <div class="page-header">
        <ul class="avatarsHomePage">
            @foreach (var user in Model)
            {
                <li class="TextAndImage">
                    <div class="TextAndImage">
                        <p>@user.Nickname</p>
                        @{ 
                            if (Request.IsAuthenticated)
                            {
                            <a href="@Url.Action("UserPage", "User", routeValues: new { id = user.Id })">
                                <img class="avatarsHomePage" src="@Url.Action("UserPicture", "Home", new { id = user.Id })"/>
                            </a>
                            }
                            else
                            {
                            <a href="@Url.Action("Register", "Account")">
                                <img class="avatarsHomePage" src="@Url.Action("UserPicture", "Home", new { id = user.Id })" />
                            </a>
                                }
                            }
                    </div>
                </li>

            }
        </ul>
    </div>
</body>
</html>