
@{
    ViewBag.Title = DataLogic.Resources.Language.Languages;
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}

<h2>@DataLogic.Resources.Language.Languages</h2>

<ul>
    <li>@Html.ActionLink("Engelska", "Change", "Language", new { LanguageAbbrevation = "en"}, null)</li>
    <li>@Html.ActionLink("Svenska", "Change", "Language", new { LanguageAbbrevation = "sv" }, null)</li>
</ul>
