<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Major Dating</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="top-left">
                    @Html.ActionLink("Hem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                </div>
            </div>

            <div style="float:left;">
                @using (Html.BeginForm("Search", "User"))
    {
            <!-- Gör sökning till användare -->
            <input class="searchfield" name="search" type="text" placeholder="Sök efter användare.." />
            <input class="btn-success" type="submit" value="Submit" />

}
            </div>

            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="foot-links">
                <ul class="footer-ul">
                    <li>@Html.ActionLink("Om oss", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakta Oss", "Contact", "Home")</li>
                </ul>            
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
