@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/css")
@Scripts.Render("~/Bundels/bootstrap")
    

    @if (Request.IsAuthenticated && ViewData.ContainsKey("nickName"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
     

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink(DataLogic.Resources.Language.GetFriends, "GetFriends", "User", routeValues: null, htmlAttributes: new { id = "index" })
                </li>
                <li>
                    @Html.ActionLink(DataLogic.Resources.Language.FriendRequest, "Index", "FriendRequest", routeValues: new { User.Identity.Name }, htmlAttributes: new {id = "FriendRequest"})
                </li>
                <li>
                    @Html.ActionLink(DataLogic.Resources.Language.MyPage, "MyPage", "User", routeValues: null, htmlAttributes: new { id = "myPage" })
                </li>
                <li id="cogwheel">
                    @Html.ActionLink("⚙", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "font-size: 200%" })
                </li>
                <li>
                    <img id= "hasRequests"/>
                    <script>
                        alert("Hejsan")
                        
                    </script>
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(DataLogic.Resources.Language.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink(DataLogic.Resources.Language.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
